h1 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom:25px;
}
.header {
  display:flex;
  flex-wrap: nowrap;
  background: #00000080;
  height: max-content;
  color: white;
  padding: 2em;
  justify-content: start;
  align-items: center;
  gap: 2.5em;
  border-radius: 0 0 25px 25px;
}
.home {
  flex-grow: 1;
  text-align:end;
}
.home > a{
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
.home > a > button {
  position: relative;
  width: 75px !important;
  height: 75px;
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 15px;
  border: none;
  width: 5em;
  font-size: 20px;
  font-family: Kanit;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}
.home > a > button:hover {
  background: black;
}
.home > a > button > img {
  opacity: 50%;
  transition: opacity 0.5s ease;
}
.home > a > button:hover > img {
  opacity: 100%;
}
.home > a > button > div {
  opacity: 0.5;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 50px;
  height: 50px;
  mask-image: url('home-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
  transition: opacity 0.5s ease; 
}
.home > a > button:hover > div {
  opacity: 1;
}
.semiicon {
  width: 75px;
  height: 75px;
  mask-image: url('semi-icon.png');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: white;
}
.footer {
  background: #00000080;
  height: max-content;
  color: white;
  padding: 1.5em;
  text-align:start;
  width: 100%;
  position: relative;
  bottom : 0;
  left: 0;
  box-sizing: border-box;
  margin-top:auto;
  z-index: -1;
  border-radius: 25px 25px 0 0;
}
.web {
  margin:25px;
}
.web > section:not(:last-child) {
  margin-bottom: 25px;
}
body {
  background: 
    radial-gradient(circle at center, #00fff720 0%, transparent 100%),
    #141c19;
  background-repeat: repeat;
  height: 100vh;
  margin: 0;
}

.title-box {
  background: #09735540;
  border-radius: 15px;
  width: content-box;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:10px;
  padding-right:10px;
}
h2 {
  line-height: 36px; 
  font-size: 36px; 
  position: sticky;
  left: 0;
}
.column {
  column-count: 2;
  column-gap: 1em;
}
.green-block, .blue-block {
  margin-bottom: 1em;
  border-radius: 15px;
  width: content-box;
  height: auto;
  padding:15px;
  overflow-y: auto;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.green-block {
  background: #09735540;
  color: white
}
.blue-block {
  background: #141c1980;
  color: white;
}
.green-block::-webkit-scrollbar, .blue-block::-webkit-scrollbar {
  background: #00000040;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.green-block::-webkit-scrollbar-thumb {
  background: #097355;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
.blue-block::-webkit-scrollbar-thumb {
  background: #141c19;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
.green-block:hover {
  transform: scale(1.025);
  box-shadow: 0 5px 5px #00000080;
}
.blue-block:hover {
  transform: scale(1.025);
  box-shadow: 0 5px 5px #00000080;
}
.greensec, .bluesec {
  display: grid;
  min-width: 800px;
  grid-template-columns: repeat(4,auto);
}
.greensec > div > div:not(:first-child), .bluesec > div > div:not(:first-child) {
  font-weight: 300;
}
.greensec > div > div, .bluesec > div > div {
  display: grid;
  padding: 0.5em;
}
.greensec > div > div:last-child, .bluesec > div > div:last-child {
  border-bottom: none;
}
.greensec > div > div:first-child, 
.bluesec > div > div:first-child,
.scroll-container > section > div > div:first-child {
  font-size: 24px;
  transition: font-size 0.5s ease;
}
.greensec > div > div:nth-child(even),
.bluesec > div > div:nth-child(even) {
  backdrop-filter: brightness(1.15);
}
.scroll-container > section > div {
  background: #141c1980;
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  transition: width 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}
.scroll-container > section > div:hover {
  width: 300px;
}
.scroll-container:hover > section > div:not(:hover) {
  opacity: 25%;
  filter: blur(0.5px);
}
.scroll-container > section > div:hover div:first-child {
  font-size: 36px;
}
.scroll-container > section > div:hover > div:nth-child(2n) {
  font-size: 16px;
}
.scroll-container > section > div > a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.scroll-container > section > div > div:nth-child(2n) {
  font-weight: 300;
  font-size: 15px;
  margin-top: 15px;
  transition: font-size 0.5s ease;
}
.scroll-container > section {
  display: grid;
  grid-template-columns: repeat(13,auto);
  gap: 15px;
  margin-bottom: 25px;
}
.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 15px;
}
.scroll-container::-webkit-scrollbar {
  height: 0px;
}
.scroll-w {
  position: relative;
  overflow: hidden;
  display: inline;
}
.scrolls {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 5px;
  overflow-x: auto; /* แก้จาก overflow-y */
  scroll-behavior: smooth;
  z-index: 5;
  
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.scrolls::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

/* buttons */
.buttons {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  gap: 0px;
  inset: auto 15px 15px auto;
}
/* buttons */

/* gotop button */
.gotop {
  width: 5em;
  height: 3em;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.gotop:hover {
  background-color: black;
}
.uppy {
  filter: invert(1);
  opacity: 0.5;
}
.gotop:hover .uppy {
  transition: opacity 0.5s ease;  
  opacity: 1;
}
/* gotop button */

/* sectionbtn */
.sectionbtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.sectionbtn:hover {
  background-color: black;
}
.sectionbtn:focus {
  outline: none;
}
select.sectionbtn {
  color: rgba(255,255,255,0.5);
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
  font-weight: bold;
}
select.sectionbtn:hover {
  color: white;
}
select.sectionbtn div {
  color: white;
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
}
select.sectionbtn option {
  color: white;
  font-family: 'Kanit', sans-serif;
  background-color:black;
}
/* sectionbtn */

/* themebtn */
.themebtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.themebtn:hover {
  background-color: black;
}
.themeicon {
  filter: invert(1);
  opacity: 0.5;
}
.themebtn:hover .themeicon {
  transition: opacity 0.5s ease;  
  opacity: 1;
}
/* themebtn */

body::-webkit-scrollbar {
background: #141c19;;
width: 15px;
height: 15px;
}
body::-webkit-scrollbar-thumb {
background: #097355;
border-radius: 25px;
width: 50%;
height: 15px;
}

/*light*/  
body.light .gotop, body.light .themebtn {
  background-color: rgba(255,255,255,0.5);
  transition: background-color 1s ease, box-shadow 1s ease;
}
body.light .gotop:hover, body.light .themebtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}
body.light .uppy, body.light .themeicon {
  filter: invert(0);
  opacity: 0.5;
}
body.light .sectionbtn {
  background-color: rgba(255,255,255,0.5);
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
body.light .sectionbtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255,1);
}
body.light select.sectionbtn {
  color: rgba(0,0,0,0.5);
}
body.light select.sectionbtn:hover {
  color: black;
}
body.light select.sectionbtn div {
  color: black;
}
body.light select.sectionbtn option {
  color: black;
  background-color:white;
}

body.light .header, body.light .footer {
  background: #ffffff80;
  color: #141c19;
}
body.light .home>a {
  color: #141c19;
}
body.light .home > a{
  color: #141c19;
}
body.light .home > a > button {
  color: #141c19;
  background: #ffffff80;
}
body.light .home > a > button:hover {
  background: white;
}
body.light .home > a > button > div, body.light .semiicon {
  background-color: #141c19;
}

/* Light */
body.light {
  background: radial-gradient(circle at center, #edfcf5 0%, transparent 100%),#aaf0d0;
}
body.light .title-box, body.light .green-block {
  background-color: #eefff6a0;
  color: #172d25;
}
body.light .blue-block, body.light .scroll-container > section > div{
  background-color: #ffffffc0;
  color: #172d25;
}
body.light .scroll-container > section > div > a {
  color: #172d25;
}
body.light .greensec > div > div:nth-child(even) {
  background-color: #11b68a40;
}
body.light  .bluesec > div > div:nth-child(even) {
  background-color: #7fceb540;
}
body.light .green-block::-webkit-scrollbar,
body.light .blue-block::-webkit-scrollbar {
  background-color: #ffffff80;
}
body.light .green-block::-webkit-scrollbar-thumb {
  background-color: #11b68a80;
}
body.light .blue-block::-webkit-scrollbar-thumb {
  background-color: #7fceb580;
}
body.light .blue-block:hover,
body.light .green-block:hover {
  box-shadow: 0 5px 5px #7fceb580;
}
body.light::-webkit-scrollbar {
  background: #aaf0d0;
}
body.light::-webkit-scrollbar-thumb {
  background: #172d25;
}

/* view on phone */
@media (max-width: 767px) {
  .header > div > h1 {
    font-size: 36px !important;
  }
  .header > div > img {
    width: 50px !important;
    height: 50px !important;
  }
  .header {
    gap: 1.5em;
    height: 3em;
  }
  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
  }
  .column {
    column-count: 1;
  }
}
