h1 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom:25px;
}
.header {
  display:flex;
  flex-wrap: nowrap;
  background: #00000080;
  height: max-content;
  color: white;
  padding: 2em;
  justify-content: start;
  align-items: center;
  gap: 2.5em;
}
.home {
  flex-grow: 1;
  text-align:end;
}
.home > a{
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
.home > a > button {
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 15px;
  border: 1px solid black;
  width: 5em;
  font-size: 20px;
  font-family: Kanit;
  transition: background 1s ease, box-shadow 1s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.home > a > button:hover {
  background: black;
  box-shadow: 0 0 5px rgba(0,0,0, 1);
}
.footer {
  background: #00000080;
  height: max-content;
  color: white;
  padding: 1.5em;
  text-align:start;
  width: 100%;
  box-sizing: border-box;
  margin-top:auto;
  z-index: -1;
}
.web {
  margin:25px;
}
.web > section:not(:last-child) {
  margin-bottom: 25px;
}
body {
  background-color: #17201d;
  margin: 0;
}
.title-box {
  border: 1px solid #00d076;
  background: linear-gradient(to bottom, #00d07640, #00d07620);
  border-radius: 15px;
  width: content-box;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:10px;
  padding-right:10px;
}
h2 {
  line-height: 36px; 
  font-size: 36px; 
  position: sticky;
  left: 0;
}
.green-block, .blue-block {
  border-radius: 15px;
  width: content-box;
  height: auto;
  padding:15px;
  overflow-y: auto;
  transition: transform 0.5s ease;
}
.green-block {
  border: 1px solid #00d076;
  background: linear-gradient(to bottom, #00d07640, #00d07620);
  color: white
}
.blue-block {
  border: 1px solid #00c5d3;
  background: linear-gradient(to bottom, #00c5d340, #00c5d320);
  color: white;
}
.green-block::-webkit-scrollbar {
  background: #00d07640;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.blue-block::-webkit-scrollbar {
  background: #00c5d340;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.green-block::-webkit-scrollbar-thumb {
  background: #00d076;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
.blue-block::-webkit-scrollbar-thumb {
  background: #00c5d3;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
.green-block:hover {
  transform: scale(1.01);
}
.blue-block:hover {
  transform: scale(1.01);
}
.greensec, .bluesec {
  display: grid;
  min-width: 900px;
  grid-template-columns: repeat(4,auto);
}
.greensec > div > div:not(:first-child), .bluesec > div > div:not(:first-child) {
  font-weight: 300;
}
.greensec > div > div, .bluesec > div > div {
  display: grid;
  padding: 0.5em;
  border-bottom: 1px solid #ffffff40;
}
.greensec > div > div:last-child, .bluesec > div > div:last-child {
  border-bottom: none;
}
.greensec > div > div:first-child, 
.bluesec > div > div:first-child,
.scroll-container > section > div > div:first-child {
  font-size: 24px;
  transition: font-size 0.5s ease;
}
.scroll-container > section > div {
  border: 1px solid #00c5d3;
  background: linear-gradient(to bottom, #00c5d340, #00c5d320);
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  transition: width 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}
.scroll-container > section > div:hover {
  width: 300px;
}
.scroll-container:hover > section > div:not(:hover) {
  opacity: 25%;
  filter: blur(0.5px);
}
.scroll-container > section > div:hover div:first-child {
  font-size: 36px;
}
.scroll-container > section > div:hover > div:nth-child(2n) {
  font-size: 16px;
}
.scroll-container > section > div > a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.scroll-container > section > div > div:nth-child(2n) {
  font-weight: 300;
  font-size: 15px;
  margin-top: 15px;
  transition: font-size 0.5s ease;
}
.scroll-container > section {
  display: grid;
  grid-template-columns: repeat(13,auto);
  gap: 15px;
  margin-bottom: 25px;
}
.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 15px;
}
.scroll-container::-webkit-scrollbar {
  height: 0px;
}
.scroll-w {
  position: relative;
  overflow: hidden;
  display: inline;
}
.scrolls {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 5px;
  overflow-x: auto; /* แก้จาก overflow-y */
  scroll-behavior: smooth;
  z-index: 5;
  
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.scrolls::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

/* buttons */
.buttons {
display: flex;
flex-wrap: nowrap;
gap: 5px;
position: fixed;
inset: auto 15px 15px auto;
}
/* buttons */

/* gotop button */
.gotop {
width: 5em;
height: 3em;
background-color: rgba(0,0,0,0.5);
backdrop-filter: blur(5px);
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
border: solid 1px black;
box-shadow:0 0 5px #00d07680;
transition: background-color 1s ease, box-shadow 1s ease;
}
.gotop:hover {
background-color: black;
box-shadow: 0 0 5px rgba(0,0,0, 1);
}
.uppy {
filter: invert(1);
opacity: 0.5;
}
.gotop:hover .uppy {
transition: opacity 1s ease;  
opacity: 1;
}
/* gotop button */

/* sectionbtn */
.sectionbtn {
width: 5em ;
height: 3em ;
background-color: rgba(0,0,0,0.5);
backdrop-filter: blur(5px);
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
border: solid 1px black;
box-shadow:0 0 5px #00d07680;
transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
.sectionbtn:hover {
background-color: black;
box-shadow: 0 0 5px rgba(0,0,0,1);
}
.sectionbtn:focus {
outline: none;
}
select.sectionbtn {
color: rgba(255,255,255,0.5);
font-family: 'Kanit', sans-serif;
appearance: none;
text-align: center;
font-weight: bold;
}
select.sectionbtn:hover {
color: white;
}
select.sectionbtn div {
color: white;
font-family: 'Kanit', sans-serif;
appearance: none;
text-align: center;
}
select.sectionbtn option {
color: white;
font-family: 'Kanit', sans-serif;
background-color:#1f1f1f;
}
/* sectionbtn */

/* themebtn */
.themebtn {
width: 5em ;
height: 3em ;
background-color: rgba(0,0,0,0.5);
backdrop-filter: blur(5px);
border: solid 1px black;
box-shadow:0 0 5px #00d07680;
transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
.themebtn:hover {
background-color: black;
box-shadow: 0 0 5px rgba(0,0,0,1);
}
.themeicon {
filter: invert(1);
opacity: 0.5;
}
.themebtn:hover .themeicon {
transition: opacity 1s ease;  
opacity: 1;
}
/* themebtn */

body::-webkit-scrollbar {
background: rgba(0,0,0, 0.5);
border-radius: 25px;
width: 15px;
height: 15px;
}
body::-webkit-scrollbar-thumb {
background: #00d076;
border-radius: 25px;
width: 50%;
height: 15px;
}

/*light*/  
body.light .gotop, body.light .themebtn {
  background-color: rgba(255,255,255,0.5);
  border: solid 1px white;
  box-shadow:0 0 5px #00d07680;
  transition: background-color 1s ease, box-shadow 1s ease;
}
body.light .gotop:hover, body.light .themebtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}
body.light .uppy, body.light .themeicon {
  filter: invert(0);
  opacity: 0.5;
}
body.light .sectionbtn {
  background-color: rgba(255,255,255,0.5);
  border: solid 1px white;
  box-shadow:0 0 5px #00d07680;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
body.light .sectionbtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255,1);
}
body.light select.sectionbtn {
  color: rgba(0,0,0,0.5);
}
body.light select.sectionbtn:hover {
  color: black;
}
body.light select.sectionbtn div {
  color: black;
}
body.light select.sectionbtn option {
  color: black;
  background-color:white;
}

body.light .header, body.light .footer {
  background: #ffffff80;
  color: #13364e;
}
body.light .home>a {
  color: #13364e;
}
body.light .home > a{
  color: #13364e;
}
body.light .home > a > button {
  color: #13364e;
  background: #ffffff80;
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
body.light .home > a > button:hover {
  background: white;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}
body.light .title-box {
  color: white;
}

/* Light */
body.light {
  background-color: #c0ffe3;
}
body.light::-webkit-scrollbar {
  background: #ffffff80;
}
body.light::-webkit-scrollbar-thumb {
  background: #00d076;
}
body.light .title-box {
  color: #005037;
  border: 1px solid #00d076;
  background: linear-gradient(to bottom, #00d07640, #00d07620);
}
body.light .green-block {
  color: #005037;
  border: 1px solid #00d076;
  background: linear-gradient(to bottom, #00d07640, #00d07620);
}
body.light .blue-block {
  color: #00555b;
  border: 1px solid #00c5d3;
  background: linear-gradient(to bottom, #00c5d340, #00c5d320);
}
body.light .green-block::-webkit-scrollbar {
  background: #00d07640;
}
body.light .blue-block::-webkit-scrollbar {
  background: #00c5d340;
}
body.light .green-block::-webkit-scrollbar-thumb {
  background: #00d076;
}
body.light .blue-block::-webkit-scrollbar-thumb {
  background: #00c5d3;
}
body.light .scroll-container > section > div {
  color: #00555b;
  border: 1px solid #00c5d3;
  background: linear-gradient(to bottom, #00c5d340, #00c5d320);
}
body.light .scroll-container > section > div > a {
  color: #00555b;
}
body.light .greensec > div > div{
  border-bottom: 1px solid #00d07640;
}
body.light .bluesec > div > div {
  border-bottom: 1px solid #00c5d340;
}